project_id     = "seu-project-id-aqui"
region         = "us-east1"
zone           = "us-east1-b"
allowed_cidrs  = ["SEU.IP.PUBLICO.AQUI/32"]  # adicione outros IPs como novos itens da lista
ssh_public_key = "cole-aqui-o-conteudo-do-seu-id_ed25519.pub"
